/* Define color scheme variables */
:root {
    --background-color: #fff;
    --text-color: #333;
    --nav-bg-color: #f8f8f8;
    --section-bg-color: #f8f8f8;
}

/* Dark theme variables */
[data-theme="dark"] {
    --background-color: #333;
    --text-color: #fff;
    --nav-bg-color: #242424;
    --section-bg-color: #424242;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    padding: 20px;
}

header, footer {
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: var(--nav-bg-color);
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px;
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--section-bg-color);
}

/* Rest of your styles here */
